---
layout: layout.html
---

<h2>Experiments</h2>
<div class="experiments">
    
        {% for experiment in collections.experiment %}
        <article class="experiment"></article>
             <a href="{{ experiment.url }}"><img src="{{ experiment.data.cover }}" alt="{{ experiment.data.title }}"></a>
        </article>
        {% endfor %}
    
</div>

<h2>Books</h2>
<div class="books">
    {% for book in collections.book %}
    <article class="book">
             <a href="{{ book.url }}"><img src="{{ book.data.cover }}" alt="{{ book.data.title }}"></a>
    </article>
    {% endfor %}
</div>