<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodBytes — Test Kitchen</title>
    <link href="https://fonts.cdnfonts.com/css/unbounded" rel="stylesheet">
    <link rel="stylesheet" href="/css/testkitchen.css">
</head>
<body class="page--{{ pagetype | default: 'index' }}">
    <h1>{{ title | default: "<strong>test kitchen</strong> /tɛst ˈkɪtʃɪn <em>noun</em>
        <span>:A kitchen in which [&hellip;] products are tested and developed before being released to the public. Oui chef!</span>" }}
    </h1>
    {{ content }}
</body>
</html>