<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodBytes' tɛst kɪtʃɪn — {{ title | default: "Oui Chef" }}</title>
    <link href="https://fonts.cdnfonts.com/css/unbounded" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/space-grotesk" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/noto-serif-toto" rel="stylesheet">
                
                
    <link rel="stylesheet" href="/css/testkitchen.css">

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>

    {% if id and pagetype == 'experiment' %}
        {% assign og_url = "https://testkitchen.goodbytes.be/experiments/images/" | append: id | append: "_og.jpg" %}
    {% else %}
        {% assign og_url = "https://testkitchen.goodbytes.be/images/og.png" %}
    {% endif %}

    <meta property="og:title" content="{{ title | default: "Oui Chef" }} — GoodBytes' tɛst kɪtʃɪn" />
    <meta property="og:image" content="{{ og_url }}" />

</head>
<body class="page--{{ pagetype | default: 'index' }}">
    
    {% if not pagetype %}
    <h1 class="title">
        <strong><a href="/">tɛst kitch&#643;n</a></strong> 
        <div>
            <em>huh?</em>
            <span> — &ldquo;
                A place where code experiments sizzle, fail, and rise again. 
                &rdquo;</span>
        </div>
    </h1>
    {% else %}
         <h1 class="title subtitle"><strong><a href="/">tɛst kitch&#643;n</a></strong></h1>
    {% endif %}
    
    {{ content }}


    <footer>
        <div class="credits">
            <a href="https://www.goodbytes.be/?"><img class="credits__avatar" src="/images/goodbytes.jpg" alt="GoodBytes — Web Developer"></a>
            <p class="credits__text">Created by your coding friend GoodBytes.be</p>
        </div>
    </footer>
</body>
</html>